/* styles/Home.module.css */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: calc(15% - 20px);
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  float: left;
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 20px;
}

.cardContent h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cardContent p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.downloadLink {
  text-align: center;
  margin-top: 10px;
}

.downloadLink a {
  text-decoration: none;
  color: #f1eeee;
  background-color: #2b2995;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.downloadLink a:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 992px) {
  .card {
    width: calc(25% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: calc(50% - 20px);
  }

  /* Nova regra de mídia para telas com largura máxima de 480px (tamanho de celular) */
  .banner {
    background-image: url("../assets/images/mobile.png");
  }
}

.cardsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
